* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Nunito', sans-serif;
    color: #33475b;
}

a {
    text-decoration: none;
    color: #33475b;
}

.container {
    width: 70%;
    margin: 0 auto;
}

/*------fixed menu----*/

.fixed_menu {
    background-color: #f5f8fa;
    border-bottom: 1px solid #cbd6e2;
}

.fixed_menu_contact {
    width: 50%;
    float: left;
    height: 70px;
    line-height: 70px;
}

.fixed_menu_contact span, .nav_menu span {
    padding: 10px;
    color: #8a98a6;
}

.fixed_menu_contact a {
    font-size: 14px;
}

.fixed_menu_contact i {
    margin-right: 10px;
}

.fixed_menu_contact a:last-child {
    border-left: 1px solid grey;
    padding-left: 10px;
}

.fixed_menu_login {
    width: 50%;
    float: right;
    height: 70px;
    line-height: 70px;
}

.login_container {
    float: right;
}

.login_container button {
    padding: 9px 16px;
    border-radius: 5px;
    margin-left: 5px;
    cursor: pointer;
    font-family: 'Nunito', sans-serif;
    font-size: 12px;
}

#login {
    color: #ff7a59;
    background-color: #fff;
    border: 1px solid #ff7a59;
}

#get_free {
    color: #fff;
    background-color: #ff7a59;
    border: 1px solid #ff7a59;
}

.login_container i {
    color: #5380ad;
    padding: 0 15px;
}

.fixed_menu_login::after {
    clear: both;
    display: table;
    content: '';
}

.fixed_menu::after {
    clear: both;
    display: table;
    content: '';
}

/*------menu----*/

.menu {
    background-color: #fff;
    height: 80px;
}

.logo_container {
    width: 50%;
    float: left;
    margin: 25px 0;
}

.nav_menu {
    width: 50%;
    float: right;
}

.nav_menu ul {
    list-style-type: none;
}

.nav_menu li {
    display: inline;
}

.nav_menu a {
    line-height: 80px;
    font-size: 16px;
    font-weight: bold;
    padding: 0 6px;
}

/* a.icona_menu::after {
    content: /&#9660;
} */


/*------jumbo----*/

.jumbo {
    /* background-image: linear-gradient(to DIREZIONE, colorestep1, colorestep2)*/
    height: 688px; /* altezza img di sfondo*/
    background-image: url(C:\Users\Federica\Desktop\Corso Boolean\hubspot\img\Immagine.png);
    background-image: linear-gradient(to top right, #fef8f0, #fff3ee);
}
