* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Nunito', sans-serif;
    color: #33475b;
}

a {
    text-decoration: none;
    color: #33475b;
}

button {
    padding: 9px 16px;
    border-radius: 5px;
    margin-left: 5px;
    cursor: pointer;
    font-family: 'Nunito', sans-serif;
    font-size: 12px;
}

ul {
    list-style-type: none;
}

.get_free {
    color: #fff;
    background-color: #ff7a59;
    border: 1px solid #ff7a59;
}

.container {
    width: 70%;
    margin: 0 auto;
}

.container::after {
    clear: both;
    display: table;
    content: '';
}

/*------fixed menu----*/

.fixed_menu {
    background-color: #f5f8fa;
    border-bottom: 1px solid #cbd6e2;
}

.fixed_menu_contact {
    width: 50%;
    float: left;
    height: 70px;
    line-height: 70px;
}

.fixed_menu_contact span, .nav_menu span {
    padding: 10px;
    color: #8a98a6;
}

.fixed_menu_contact a {
    font-size: 14px;
}

.fixed_menu_contact i {
    margin-right: 10px;
}

.fixed_menu_contact a:last-child {
    border-left: 1px solid grey;
    padding-left: 10px;
}

.fixed_menu_login {
    width: 50%;
    float: right;
    height: 70px;
    line-height: 70px;
}

.login_container {
    float: right;
}

#login {
    color: #ff7a59;
    background-color: #fff;
    border: 1px solid #ff7a59;
}

.login_container i {
    color: #5380ad;
    padding: 0 15px;
}

.fixed_menu_login::after {
    clear: both;
    display: table;
    content: '';
}

.fixed_menu::after {
    clear: both;
    display: table;
    content: '';
}

/*------menu----*/

.menu {
    background-color: #fff;
    height: 80px;
}

.logo_container {
    width: 50%;
    float: left;
    margin: 25px 0;
}

.nav_menu {
    width: 50%;
    float: right;
}

.nav_menu li, .horiz_box_right li {
    display: inline;
}

.nav_menu a {
    line-height: 80px;
    font-size: 16px;
    font-weight: bold;
    padding: 0 6px;
}

/* a.icona_menu::after {
    content: /&#9660;
} */

/*------jumbo----*/

.jumbo {
    /* background-image: linear-gradient(to DIREZIONE, colorestep1, colorestep2)*/
    height: 688px; /* altezza img di sfondo*/
    background-image: url(\hubspot\img\Immagine.png);
    background-image: linear-gradient(to top right, #fef8f0, #fff3ee);
}

.jumbo_box {
    width: 40%;
}

.jumbo_box h1 {
    font-size: 59px;
    font-weight: bold;
    padding-top: 90px;
    line-height: 1;
}

.jumbo_box button {
    display: block;
    padding: 20px 40px;
    font-size:16px;
    margin-bottom: 15px;
}

.jumbo_box p {
    margin: 30px 0 15px;
    line-height: 1.5;
}

.small_container {
    width: 207px; /*togliendo block al button e vedendo la sua lugnhezza*/
}

/*------features----*/
.features {
    background-color: #f5f8fa;
    padding- bottom: 50px;
    border-top: 1px solid #5380ad;
}

.features_text img {
    width: 250px;
    display: block;
    margin: 0 auto;
    padding: 100px 0 20px;
}

.features_text h2, .features_text p {
    text-align: center;
    width: 74%; /*per far andare la frase accapo allo stesso punto*/
    margin: 0 auto;
}

.features h2 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 25px;
}

/*------horiz box----*/

.horizontal_box {
    background-color: #fff;
    box-shadow: 3px 3px 6px #e6e7e8;
    width: 90%;
    margin: 50px auto 25px;
    padding-bottom: 30px;
}

.horizontal_box:after {
    display: table;
    clear: both;
    content: "";
}

.horiz_box_left {
    width: 40%;
    float: left;
}

.horiz_box_left img {
    width: 200px;
    margin: 30px auto;
    display: block;
}

.horiz_box_left button {
    margin: 0 auto;
    display: block;
}

.horiz_box_right {
    width: 60%;
    float: right;
}

.horiz_box_right h3 {
    padding: 40px 0 20px;
}

.horiz_box_right p {
    width: 80%;
    font-size: 15px;
    margin-bottom: 15px;
}

.horiz_box_right h4 {
    font-size: 13px;
    padding-bottom: 10px;
}

.horiz_box_right li {
    padding-right: 15px;
}

.horiz_box_right i {
    font-size: 13px;
    color: #ff7a59;
    padding-right: 8px;
}

/*------chat icon----*/

#chat_icon {
    position: fixed;
    bottom: 20px;
    right: 40px;
    background-color: #33475b;
    border: 0;
    width: 60px;
    height: 60px;
    border-radius: 30px;
}

#chat_icon i {
    color: #fff;
    font-size: 30px;
    text-align: center;
}
